<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickCalendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickCalendar.Properties.Settings>
            <setting name="Calendar_ShowToday" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Calendar_ShowTodayCircle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Calendar_ShowWeekNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Calendar_FirstDayOfWeek" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Main_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Main_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="App_UpgradePending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YearViewStartsWithFirstMonth" serializeAs="String">
                <value>False</value>
            </setting>
        </QuickCalendar.Properties.Settings>
    </userSettings>
</configuration>